:root {
  --default-01: #ffff;
  --default-02: #0000;
  --default-03: #e5ebfc;
  /* --default-04: #004CFF ; */
  /* --default-04: #3880ff; */
  --default-04: #004BFE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}
a {
  text-decoration: none;
}

.logo a {
  display: flex;
  align-items: center;
}
.logo h5 {
  color: var(--default-04);
  font-size: 16px;
}

header {
  width: 100%;
  background-color: var(--default-03);
  position: fixed;
  top: 0;
  z-index: 1000;
  margin: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links li a {
  color: var(--default-04);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--default-04);
  margin: 5px;
}

/* MEDIA QUERY */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--default-03);
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  .nav-links li {
    padding: 30px;
  }

  .burger {
    display: block;
  }

  .nav-active {
    transform: translateX(0);
  }

  /* Hamburger icon animations */
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
